Contains functionalities to view and manipulate data in the Actors table and
the ActorsMovies table.
<script src="/js/moment.min.js"></script>
<script src="/js/actors.js"></script>
<div class="row">
    <div class="mx-auto" style="width: auto;">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <button class="btn btn-light my-3" onclick="addActor()">Add</button>
            <input type="text" id="searchActors" placeholder="Search" />
        </div>
        <table id="actorTable" class="table table-light table-striped">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {{#each actors}}
                <tr id="row{{actorID}}">
                    <form id="form{{actorID}}" method="post" action="/actor/{{actorID}}">
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{getAge dob}}</td>
                        <td>
                            <div class="d-flex flex-row-reverse">
                                <button type="button" class="btn btn-secondary" onclick="deleteActor({{actorID}})">Delete</button>
                                <button type="button" class="btn btn-primary mx-2" onclick="updateActor({{actorID}})">Update</button>
                                <input id="dobHidden{{actorID}}" name="dobHidden" type="hidden" value="{{moment dob "YYYY-MM-DD"}}"/>
                            </div>
                        </td>
                    </form>
                </tr>
            {{/each}}
        </table>
    </div>
</div>