<div id="dashboard">
{{#if isDashboard}}
    <p>This is where the user will see the movies they want to see.  It is currently just hard-coded data, but it will make use of the Movies and UsersMovies tables.  The search works, but right now the Remove button doesn't.</p>
    <p class="centerText">Hint: try searching for 'p', 'peak', or 'park'.</p>
{{else}}
    <p>This is where the user will see search results of movies they can add to their saved list.  It is currently just hard-coded data, but it will make use of the Movies and UsersMovies tables.  The search works, but right now the Add button doesn't.</p>
    <div class="centerText" style="margin-bottom: 25px;"><a href="/dashboard">Back to the dashboard</a></div>
{{/if}}
<div class="centerText">
    <legend>Search movies</legend>
    <form method="get" action="/movies">
        <div class="form-group">
            <label for="q">Movie name</label>
            <input type="text" class="form-control" name="q" id="q">
            <br>
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </form>
</div>
<br><br>
{{#if movies}}
    <div class="flowBox">
        {{#each movies}}
            <div class="vertBox centerText">
                <form>
                    <button type="submit">
                        {{#if ../isDashboard}}
                            Remove
                        {{else}}
                            Add
                        {{/if}}
                    </button>
                </form>
                <a href="movie/{{movieID}}">{{name}}</a>{{releaseDate}}<br>Rating: {{averageCriticRating}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No movies found.</p>
{{/if}}
</div>

<div id="movie-list">
    <legend>Movie list</legend>
</div>
