<div id="dashboard">
{{#if isDashboard}}
    <p class="centerText">Hint: for now just search for one of the movies below by name (since the data is hard-coded), though this will ultimately search movies that aren't already saved.</p>
{{else}}
    <div class="centerText" style="margin-bottom: 25px;"><a href="/dashboard">Back to the dashboard</a></div>
{{/if}}

<div class="centerText">
    <legend>Search movies</legend>
    <form method="get" action="/movies">
        <div class="form-group">
            <label for="q">Movie name</label>
            <input type="text" class="form-control" name="q" id="q">
            <br>
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </form>
</div>
<br><br>
{{#if movies}}
    <div class="flowBox">
        {{#each movies}}
            <div class="vertBox centerText">
                <a href="movie/{{movieID}}">{{name}}</a>{{releaseDate}}<br>Rating: {{averageCriticRating}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No movies found.</p>
{{/if}}
</div>

<div id="movie-list">
    <legend>Movie list</legend>
</div>