Contains functionalities to view and manipulate data in the Genres table and
the GenresMovies table.
<script src="/js/genres.js"></script>
<div class="row">
    <div class="mx-auto" style="width: auto;">
        <button class="btn btn-light my-3" onclick="addGenre()">Add</button>
        <table id="genreTable" class="table table-light table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {{#each genres}}
                <tr id="row{{genreID}}">
                    <form id="form{{genreID}}" method="post" action="/genre/{{genreID}}">
                    <td>{{title}}</td>
                    <td>
                        <div class="d-flex flex-row-reverse">
                            <button type="button" class="btn btn-secondary" onclick="deleteGenre({{genreID}})">Delete</button>
                            <button type="button" class="btn btn-primary mx-2" onclick="updateGenre({{genreID}})">Update</button>
                        </div>
                    </td>
                    </form>
                </tr>
            {{/each}}
        </table>
    </div>
</div>